.jfx-progress-bar > .track, .jfx-progress-bar > .bar {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.jfx-progress-bar > .bar {
    -fx-background-color: red;
}

.jfx-progress-bar > .track {
    -fx-background-color: #E0E0E0;
}